 body {

    background-color: black;
    background-image: url(./media/blackjack-igralnye-karty.jpg);
    background-color: rgba(2, 2, 2, 0.5);
 }

 h1 {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 40px;
     color: #ffffff;
     text-align: center;
     text-transform: uppercase;

 }

 h2 {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 25px;
     color: #fafafae7;
     text-align: center;
     text-transform: capitalize;
 }
 