/*CONFIGURAÇÕES GERAIS*/

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Roboto:wght@200;700&display=swap');

:root {
    --green:#0cf20c;

}

* {
    font-family: 'Azeret Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .5s linear;
}

*::selection  {
    background: var(--green);
    color: #333;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--green);
}

body {
    background: black;
    overflow-x: hidden;
    padding-left: 35rem;
}



/* MENU LATERAL*/

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #52515154;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .avatar-user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    background-color: white;
    border: .4rem solid var(--green);
}

header .avatar-user img:hover {
    transform: scale(1.1);
    border: .6rem solid #F92D57;
}

header .avatar-user .name {
    font-size: 3.5rem;
    color: white;
    padding-bottom: 1rem;
}

header .avatar-user .postagem {
    font-size: 2rem;
    color: white;
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header  .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #f29a16cb;
    color: white;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover  {
    background: var(--green);
    transform: scale(1.05);
}

header .redes {
    display: block;
    align-items: center;
}

header .redes img {
    width: 3.5rem;
    margin-top: 5vh;
    background-color: var(--green);
    border-radius: 1.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.521);
}

header .redes #linkedin:hover {
    transform: scale(1.2);
    background-color: #1f81e4;
}

header .redes #github:hover {
    transform: scale(1.2);
    background-color: white;
}



/* HOME*/

section {
    min-height: 100vh;
    padding: 1rem;
}

.home {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home::before {
    content: "";
    background-image: url(./img/homepage-illustration.png);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.home h3 {
    font-size: 2.5rem;
    color: white;
}

.home h1 {
    font-size: 5rem;
    color: white;
}

.home h1 span {
    color: var(--green);
}

.home p {
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
    text-align: start;
}

.home h3, .home h1, .home p {
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 1.2rem;
}

.btn {
    position: relative;
    padding: .7rem 3rem;
    background: #f29a16;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 2rem;
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--green);
    transition: 0.4s;
    transform: scale(1.1);
}



/* SEÇÃO SOBRE MIM*/

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: white;
}

.heading span {
    color: var(--green);
}

.sobre .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.sobre .row .info {
    flex: 1  1  48rem;
    padding: 2rem;
    padding-left: 1rem;
}

.sobre .row .info h3 {
    font-size: 2rem;
    color: var(--green);
    padding: 1rem 0;
    font-weight: normal;
}

.sobre .row .info h3 span  {
    color: #eee;
    padding: 0.5rem;
}

.sobre .row .habilidades {
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sobre .row .habilidades .box {
    width: 20rem;
    background: #eee;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    box-shadow: inset 1px  1px 2px var(--green);
}

.sobre .row .habilidades .box:hover {
    transform: scale(1.2);
}

.sobre .row .habilidades .box  span {
    font-size: 1.3rem;
    color: var(--green);
    padding-bottom: 2rem;
}

.sobre .row .habilidades .box  h3 {
    padding-top: 5px;
    font-size: 1.3rem;
}